<h1>Listing entries</h1>

<h2>User: <%= current_user.name %></h2>

<% form_tag url_for(:action => :update) do |form| %>
  <table>
    <tr>
      <th>Project</th>
      <th>Monday</th>
      <th>Thuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>

    <% current_user.projects.each do |project| %>
      <tr>
        <td><%=h project.name %></td>
        <% 7.times do |week_day| %>
          <td><%= text_field_tag "projects[#{project.to_param}][#{week_day}]", 0 %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Save" %>
<% end %>

