<h1>Listing entries</h1>

<h2>User: <%= current_user.name %></h2>

<table>
  <tr>
    <th>Project</th>
    <th>Monday</th>
    <th>Thuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>

<% form_tag do |form| %>
  <% current_user.projects.each do |project| %>
    <tr>
      <td><%=h project.name %></td>
      <% 7.times do |i| %>
        <td><%= text_field_tag :value => 0 %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>

