@width-page: 980px;
body{
  margin:0;
  padding:0;
  border:0;
  background:#fff;
  color:#333;
  font-size:12px;
  font-family:arial, sans-serif;
}
form{
  margin:0;
  padding:0;
  float:left;
}
a{
  text-decoration:none;
  color:#0099ff;
}
a:hover{
  color:#FF8C00;
}
#header{
  margin:0 0 10px 0;
  width:@width-page;
  float:left;
  h1{
    margin:0;
    padding:0;
    font-size:24px;
    float:left;
    a{
      color: #33ccff;
      text-decoration:none;
      img{
        border:0;
      }
    }
  }
}
#container{
  margin:0 auto 0 auto;
  padding:10px;
  width:@width-page;
}

