- week_names = localized_week_days
%table{:class => style}
  = render :partial => 'table_header', :locals => {:title => title, :week_names => week_names}
  - hours_per_day = Array.new(7,0)
  = yield hours_per_day
  = render :partial => 'table_footer', :locals => {:hours => hours_per_day, :week_names => week_names}
