!!! XML
!!!
%html
  %head
    %title ice project
    = stylesheet_link_tag 'screen.css'
  %body
    #login
      %h1
        iceproject
      - semantic_form_for @user_session do |form|
        = form.inputs :login, :password
        = form.buttons
