!!! XML
!!!
%html
  %head
    %title ice project
    = stylesheet_link_tag 'login.css'
  %body
    #login
      %h1
        iceproject
      - semantic_form_for @user_session do |form|
        = form.inputs :login, :password
        = form.commit_button t(:login)
    #bg
