!!! XML
!!!
%html
  %head
    %title ice project
    = javascript_include_tag :all
    = stylesheet_link_tag 'screen.css'
  %body
    %div#headerBg
      %div#header
        %h1
          %a{:href => root_path}
            ice project
        %h2
          = current_user.name
    %div#container
      = yield
